$secondaryColor: #e1bb65;

nav {
    background-color: #003049;
}

a {
    color: white;
}

#logo {
    width: 15%;
    display: flex;
    justify-content: center;
}

.cart-icon {
  color: $secondaryColor;
}

.checkout-btn {
    background-color: $secondaryColor;
    color: white;
}