.hero {
  background-image: url('/assets/hero-background.png');
  background-size: cover;
  background-position: center;
  position: relative;

  .text-content {
      color: #e1bb65;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }

  // Full responsiveness for smaller screens
  @media (max-width: 1280px) {
    background-image: url('/assets/hero-background-1280.png');

    .model-container {
      display: none !important;
    }

    .text-content {
      text-align: center;
      justify-content: center;
      align-items: center;
      color: #e1bb65;
    }

    .text-content h1,
    .text-content p {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }

    .hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); // darken light background
  z-index: 1;
}

.text-content {
  position: relative;
  z-index: 2; // ensure text is above the overlay
}


  }
}

.model-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
